@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-500: #1A407A;
    --color-primary-400: #265FB5;
    --color-accent-500: #E6B325;
    --color-accent-400: #EBC251;
    --color-success-500: #2C9E7A;
    --color-success-400: #40CA9E;
    --color-error-500: #E53E3E;
    --color-error-400: #EA6666;

    --font-sans: "Inter", "sans-serif";
    --font-serif: "Merriweather", "serif";
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
